.banner {
  height: 120vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;;
}

.banner2 {
  height: 120vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;;
}

.video-fluid {
  width: 100%;
  height: auto;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .banner {
  height: 150vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;;
}
 .banner2 {
  height: 140vh;
  width: 104vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;;
}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .banner2 {
  height: 140vh;
  width: 130vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;;
}
}

