
header {

  position: relative;

  background-color: black;

  height: 75vh;

  min-height: 25rem;

  width: 100%;

  overflow: hidden;

}



header video {

  position: absolute;

  top: 50%;

  left: 50%;

  min-width: 100%;

  min-height: 100%;

  width: 100px;

  height: auto;

  z-index: 0;

  -ms-transform: translateX(-50%) translateY(-50%);

  -moz-transform: translateX(-50%) translateY(-50%);

  -webkit-transform: translateX(-50%) translateY(-50%);

  transform: translateX(-50%) translateY(-50%);

}



header .container {

  position: relative;

  z-index: 2;

}



header .overlay {

  position: absolute;

  top: 0;

  left: 0;

  height: 100%;

  width: 100%;



  opacity: 0.5;

  z-index: 1;

}

header .display-3 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
   text-shadow:
     1px  1px 0 #000,
    -1px -1px 0 #000,
}

header .display-4 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  font-style: italic;
   text-shadow:
     1px  1px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}





// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
 header video {

  position: absolute;

  top: 21%;

  left: 50%;

  min-width: 100%;

  min-height: 100%;

  width: 100px;

  height: auto;

  z-index: 0;

  -ms-transform: translateX(-50%) translateY(-50%);

  -moz-transform: translateX(-50%) translateY(-50%);

  -webkit-transform: translateX(-50%) translateY(-50%);

  transform: translateX(-50%) translateY(-50%);

}

header .display-3 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
   text-shadow:
     1px  1px 0 #000,
    -1px -1px 0 #000,;
    margin-top: -218px;
}
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
header video {

  position: absolute;

  top: 28%;

  left: 50%;

  min-width: 100%;

  min-height: 100%;

  width: 100px;

  height: auto;

  z-index: 0;

  -ms-transform: translateX(-50%) translateY(-50%);

  -moz-transform: translateX(-50%) translateY(-50%);

  -webkit-transform: translateX(-50%) translateY(-50%);

  transform: translateX(-50%) translateY(-50%);

  }
}

header .display-3 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
   text-shadow:
     1px  1px 0 #000,
    -1px -1px 0 #000,;
    margin-top: -200px;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

header video {

  position: absolute;

  top: 50%;

  left: 50%;

  min-width: 100%;

  min-height: 100%;

  width: 100px;

  height: auto;

  z-index: 0;

  -ms-transform: translateX(-50%) translateY(-50%);

  -moz-transform: translateX(-50%) translateY(-50%);

  -webkit-transform: translateX(-50%) translateY(-50%);

  transform: translateX(-50%) translateY(-50%);

}

header .display-3 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
   text-shadow:
     1px  1px 0 #000,
    -1px -1px 0 #000,;
    margin-top: auto;
}
}
